/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.top-row { background: #f0f4f1; box-shadow: 0 0 4px #d9ced8; padding: 5px 0 0 5px; color: black; text-shadow: 1px 1px 0px white; }
.img-user { width: 80px; height: 80px; }