/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* { font-family: 'Open Sans', sans-serif; }
header { padding-bottom: 15px; }
.top-row { background: url('bkg.png'); box-shadow: 0 0 4px black; padding: 5px 0 0 5px; color: white; text-shadow: 1px 1px 0px black; }
.img-user { width: 60px; height: 60px; }
.panel-heading { font-size: 16px; }
.form-title { font-size: 14px; }
.help-inline { color: #b94a48; }
